* {
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
}

.full {
    min-height: 100vh;
}

.col-sm {
    width:20%;
    margin:0 10%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.albumcontainer:hover .overlay {
    opacity: 0.8;
}

.albumcontainer{
    position: relative;
}

.seeSongs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    text-decoration:none;
}

.pagination {
    display: none;
    --bs-pagination-color: white;
    --bs-pagination-bg: dark;
    --bs-pagination-border-color: #6c757e;
    --bs-pagination-hover-color: white;
    --bs-pagination-hover-bg: #6c757e;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: #6c757e;
    --bs-pagination-focus-box-shadow: dark;
}

#content{
    display: none;
}